{% extends 'layout.html' %}

{% block body %}
<style>
  body{
      text-align: center;
      background-color: darkgrey;
  }
  label{
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  textarea{
      width: 600px;
      height: 150px;
  } 
  .jumbotron{
      height: 400px;
  }
  button{
      background-color: gray;
      border-radius: 25%;
      color: black;
      font-weight: bold;
  }
</style>

<div class="jumbotron">
    <h1>Twitter Sentiment Analysis for Stocks</h1>
    <br>
    <form action="/result" method="post">
        <label><strong>Enter Your Tweet to test:</strong></label>
        <br>
        <textarea name="tweet" rows="50" placeholder="Enter your tweet here"></textarea>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}